<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308121249387-bmj34kk30dv75e1r4mu9ha85pjsguhv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308121249387-bmj34kk30dv75e1r4mu9ha85pjsguhv9</string>
	<key>API_KEY</key>
	<string>AIzaSyAlgCuvq_FGtyzjqzy2gQelYuNBby4vjYM</string>
	<key>GCM_SENDER_ID</key>
	<string>308121249387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sudoku</string>
	<key>PROJECT_ID</key>
	<string>sudokuproject-83643</string>
	<key>STORAGE_BUCKET</key>
	<string>sudokuproject-83643.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308121249387:ios:35f64bdd421b087c82332e</string>
</dict>
</plist>